<mat-card class="doctor_card light_grey">
    <div  class="doctor_card">
        <div class="doctor_img_container">
            <div *ngIf="doctor.photo">
                <img  [src]="doctor?.photo" [alt]="doctor.user.firstName +' '+ doctor.user.lastName" class="doctor_img">
            </div>
        </div>
        <mat-card-content class="doctor_content">
            <mat-card-title>{{doctor.user.firstName}} {{doctor.user.lastName}}</mat-card-title>
            <div class="doctor_position">{{doctor.positionName}}</div>
            <div class="doctor_content_about">
                <app-doctor-description-item [name]="'Education'" [description]="doctor.education"></app-doctor-description-item>
                <app-doctor-description-item [name]="'Experience'" [description]="doctor.experience"></app-doctor-description-item>
                <app-doctor-description-item [name]="'Biography'" [description]="doctor.biography"></app-doctor-description-item>                
            </div>
          </mat-card-content>
    </div>            
</mat-card>
