/* label{
    margin: 10px;
}

input{
    margin: 20px;
} */

/* form  { display: table;      }
div     { display: table-row;  }
label {
     display: table-cell; 
     margin: 10px; 
} */



input { 
    
    margin: 15px;
}

.form-button {
    margin:20px;
}


