<mat-toolbar>
  <span>{{service.formData.id ? "Modify Service" : "New Service" }}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"
          tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form novalidate class="normal-form" #form="ngForm" (submit)="onSubmit(form)">
  <mat-grid-list cols="2" rowHeight="300px" >
    <mat-grid-tile>
      <div class="controlers-container">
        <input type="hidden" name="id" [value]="service.formData.id">
        <mat-form-field>
          <input name="serviceName" #serviceName="ngModel" [(ngModel)]="service.formData.serviceName"
                 matInput placeholder="Service Name" required>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="form.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="resetForm(form)">Clear</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
