<div id="main-info-div" >
    <mat-card>
    <table>
        <caption></caption>
        <tr>
            <th></th><th></th><th></th>
        </tr>
        <tr>
            <td><h1>{{client.firstName}}</h1> </td>
            <td><h1>{{client.lastName}}</h1></td>
            <td id="tablecell-button" colspan="2">
                <button id="edit-button" mat-raised-button color="accent">Edit</button>
            </td>
        </tr>
        <tr>
            <td><h3>{{client.email}}</h3></td>
        </tr>
        <tr>
            <td><h3>{{client.phoneNumber}}</h3></td>
        </tr>
    </table>
    </mat-card>
</div>
