<div class="container">
    <mat-card class="mat-card">
        <div class="map_content">
            <div class="map_content_text">
                <h1 class="text_title mat-display-1">We are here</h1>
                <div class="test_item mat-h3">
                    <strong>Street: </strong>
                    <p>Green Avenue</p>
                </div>
                <div class="test_item mat-h">
                    <strong>City: </strong>
                    <p>San Francisco</p>
                </div>
                <div class="test_item mat-h">
                    <strong>State</strong>
                    <p>CA</p>
                </div>
                <div class="test_item mat-h">
                    <strong>State Full</strong>
                    <p>California</p>
                </div>
                <div class="test_item mat-h">
                    <strong>Zip Code</strong>
                    <p>94107</p>
                </div>
                <div class="test_item mat-h">
                    <strong>Phone Number</strong>
                    <p>510-842-1619</p>
                </div>
                <div class="test_item mat-h"> 
                    <strong>Number</strong>                
                    <p>415-361-7029</p>
                </div>
            </div>
        </div>
        <div class="map">
            <google-map   height="300px" width="100%"    
            [zoom]="zoom"
            [center]="center"
            [options]="options">
                <map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"        
                [options]="marker.options">
                </map-marker>
            </google-map>
        </div>
    </mat-card>
</div>