/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */}

.container{
    max-width: 1200px;
    width: 100%;    
    margin: 0 auto;
}

.light_grey{
    background-color: #F3F3F3;
}

.grey{
    background-color: #C4C4C4;
}

body::-webkit-scrollbar {
    display: none;
  }