<div *ngIf='authService.isLogedIn()'>
    <mat-card>
        <h1>Client's cabinet</h1>
        <div id="maininfo-div">
            <app-client-main-info
                    [client]='client'>
            </app-client-main-info>
        </div>

        <div *ngIf="animalTypes" id="animals-div">
            <h2>Animals</h2>
            <app-create-animal-item (click)="openDialog()"></app-create-animal-item>
            <app-animal-item *ngFor="let animal of animals; index as i" [animal]="animal"
                             [animalType]="animalTypes[animal.animalTypeId-1]" [activeAnimal]="activeAnimal==animal?.id"
                             (activeAnimalid)="notActiveAnimal($event)"></app-animal-item>
        </div>
        <mat-divider></mat-divider>
        <div id="appointments-div">
            <h2>Appointments</h2>
            <app-client-appointment [animalId]="activeAnimal"></app-client-appointment>
        </div>
    </mat-card>
</div>


