    <div *ngIf ='authService.isLogedIn()'>
<mat-card>
<h1>Client's cabinet</h1>
<div id="maininfo-div">
<app-client-main-info  
[client] = 'client' >
</app-client-main-info>
</div>

<div id="animals-div">
<h2>Animals</h2>
<app-create-animal-item></app-create-animal-item>
<app-animal-item *ngFor="let animal of animals; index as i" [animal]="animal"
    [animalType]="animalType[i]" [activeAnimal]="activeAnimal==animal?.id"
    (activeAnimalid)="notActiveAnimal($event)"></app-animal-item>
</div>
<div id="appointments-div">
<h2>Appointments</h2>
</div>
</mat-card>
</div>

<h1>{{activeAnimal}}</h1>
